{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>自己紹介</title>
</head>
<body>
    <div class="header">
        <h2>自己紹介</h2>
    </div>
    <div class="introduction">
        <img src="{% static 'images/チョッパー.jpg' %}" alt="アイコン画像" id="icon">
        <div class="name">
            <div class="name-text">
                <p>浦崎 政富士<br>
            </div>
            年齢： １８歳<br>
            ３年間よろしくお願いします。</p>
        </div>
    </div>
<div class="hobby">
    <h2>趣味・推しの紹介</h2>

<div class="card-group">
        <div class="card">
            <div class="card-imaframe"><a href="https://aespa-official.jp/"> <img src="{% static 'images/aespaドット絵.jpg' %}" alt="aespaのドット絵" class="card-image"></a></div>
            <div class="card-textbox">
                <div class="totletext"><h3>aespa(エスパ)</h3>
            </div>
            <div class="card-overviewtext">
            <p>2020年にデビューした4人組のガールズグループです。メンバーは、韓国人のカリナ、ウィンター、日本人のジゼル、中国人のニンニンの4人です。<br>
            メンバーの由来は、「自分のもう一人自我であるアバターに出会い、新しい世界を経験する」と言うグループのコンセプトをもとに、多方面で活躍しています。<br>
            aespaというグループ名は、「Avatar」と「Experience」の2文字を表した「æ」と、両面という意味を持ち「aspect」を組み合わせて名付けられました。<br></p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-imaframe"><a href="https://backnumber.info/"><img src="{% static 'images/backnumber.jpg' %}" alt="back numberの画像" class="card-image"></a></div>
        <div class="card-textbox">
            <div class="card-titletext">
                <h3>back number</h3>
            </div>
            <div class="card-overviewtext">
        <p class="card-text"><p>2004年に結成された3人組のロックバンドです。<br>
        メンバーは、ボーカル・ギターの清水依与吏(しみず いより)、ベースの栗原寿(くりはら ひさし)、ドラムの小島和也(こじま かずや)の3人です。<br>
        back numberの楽曲は、恋愛をテーマにした繊細な歌詞と心地よいメロディーで多くのたくさんの人を魅了しています。<br>
        代表曲は、「高嶺の花子さん」、「ハッピーエンド」、「水平線」などがあります。<br></p></p>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-imaframe"><a href="https://naruto-official.com/"><img src="{% static 'images/ナルト疾風伝.jpg' %}" alt="ナルト疾風伝の画像" class="card-image"></a></div>
        <div class="card-textbox">
            <div class="card-titletext">
                <h3>ナルト</h3>
            </div>
            <div class="card-overviewtext">
            <p class="card-text"><p>忍同士が超常的な能力を駆使して派手な戦いを繰り広げるバトルアクション漫画です。主人公と仲間たちの友情、裏切りと復讐、師弟や家族の擬ずなが中心として描かれ、<br>
            忍の世界とその起源・歴史を含めた壮大なストーリー展開となっています。<br>
            中盤以降は、主人公のうずまきナルトが単に戦いではなく”対話”と”許し”をもって、平和をもたらそうとする要素も含まれるようになり、自らのやり方で平和を実現しようとする姿が描かれています。<br></p>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-imaframe"><a href="https://www.ubisoft.com/ja-jp/game/rainbow-six/siege"><img src="{% static 'images/siegex.jpg' %}" alt="レインボーシックスシージの画像"></a></div>
        <div calss="card-textbox">
            <div class="card-titletext">
                <h3 class="card-title">Rainbow Six Siege（レインボーシックス シージ）</h3>
            </div>
            <div claas="card-overviewtext">
                <p>世界各国の特殊部隊から構成された対テロ特殊部隊「レインボー」の活躍を描く「レインボーシックスシリーズ」です。<br>
                このゲームは、5対5の戦術的なチームプレイと多彩なシナリオが特徴です。オレンジとブルーのチームに別れたら、爆弾の解除や人質の救出、重要地点の危険を排除するゲームです。<br></p>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="goal">
    <h2>今年の目標</h2>
    今年の目標は、pythonの基礎をしっかり学び、pythonだけではなく他の言語を学びプログラミングの技術を向上させることです。
</div>
    

</body>































</html>