body {
  background-color: #ffff;
  font-family: "Hiragino Sans", "Meiryo", sans-serif;
  height: 100%;
}
.photo{
    height: 200px;
    width: 200px;
}
.photo{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
