body {
  background-color: #ffff;
  font-family: "Hiragino Sans", "Meiryo", sans-serif;
  height: 100%;
}
.past-thumb {
    width: 110px;
    height: 140px;
    background: #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #666
}