{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'app/reset.css' %}">
    <link rel="stylesheet" href="{% static 'app/normal.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>普通・神経衰弱</title>
</head>

<body>
    <h1>神経衰弱・普通モード</h1>
    {% for card in cards %}
    <div class="card" data-card="{{card}}">
        <div class="card-inner">
            <div class="card-front">
                <img class="front" src="{% static 'cards/' %}{{ card }}">
            </div>
            <div class="card-back">
                <img class="back" src="{% static 'cards/card_back.png' %}">
            </div>
        </div>
    </div>

    {% endfor %}
    </div>
    <!-- js読み込み -->
     <script src="{% static 'app/app.js' %}"></script>
    <h2><a href="{% url 'app_game' %}">ホームに戻る</a></h2>
</body>