{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>postingscreen</title>
    <link rel="stylesheet" href="{% static 'sns_copy/reset.css' %}">
    <link rel="stylesheet" href="{% static 'sns_copy/posting.css' %}">
</head>

<body>
    <div class="batu">❌</div>
    <div class="photo">
        <h1><img class="camera" src="{% static 'imges/camera.png' %}" alt="camera"></h1>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
        <div class="past-thumb">写真</div>
    </div>
</body>