body{
    background-color: #007700;
    /* background-color: red; */
    color: white;
    text-align: center;
}
.card{
    width: 300px;
    height: 200px;
    perspective: 1000px;
}
.card-inner{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    transform-origin: center;
}
.card.is-flipped .card-inner{
    transform: rotateY(180deg);
}
.card-front, .card-back{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
}
.card-front{
    transform: rotateY(180deg);
}
.card-back{
    transform: rotateY(0deg);
}